@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
   
}

.hero-area {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    height: 100vh;
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
   
}
.h-width {
    width: 50%;
}
.hero-area .left-side h1 {
    font-size: 50px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    line-height: 42px;
}
.hero-area h1 .orange-clr {
    color: orange;
}
.hero-area .left-side h3 {
    margin-bottom: 10px;
}
.hero-area .left-side p {
    margin-top: 0;
    margin-bottom: 30px;
}
.hero-area .left-side .hire-btn {
    font-size: 16px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 5px;
    background: linear-gradient(45deg,  orange, red);
    transition: all 0.3s ease-in-out;
}
.hero-area .left-side a.hire-btn:hover {
    background: linear-gradient(45deg, red, orange);
}



.hero-area .right-side {
    /* background: url(./images/my-bg2.png); */
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;

}